quart
aiomysql
cryptography
PyYaml
revChatGPT
tiktoken
claude-api
bardapi
hugchat
g4f
fake_useragent
revTongYi
colorlog
ujson
hypercorn
ftfy
free-proxy
git+https://github.com/Zai-Kun/reverse-engineered-chatgpt